.form {
  .body-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.75rem;

    .content-input {
      position: relative;
      & input, & textarea, & select{
        width: 100%;
        padding: 0.75rem;
        border: 1px solid var(--color-bordes);
        border-radius: 9999px;
        outline: none;

        &:focus, &:not(:placeholder-shown) {
          border-color: var(--color-primary);
          & + label {
            top: 0;
            padding: 0 0.5rem;
            color: var(--color-primary);
            background-color: var(--color-neutral-900);
          }
        }
      }

      textarea {
        min-height: 100px;
        border-radius: 1.25rem;
      }

      select, ::picker(select) {
        appearance: base-select;

        &::picker-icon {
          display: none;
        }
      }

      select {
        option {
          background-color: #ffffff21;
          border-radius: 999px;
          padding: .5rem .25rem;
        }

        option[value=""] {
          display: none;
        }

      }

      /* lienzo de opciones */
      ::picker(select) {
        background-color: var(--color-neutral-800);
        color: var(--color-neutral-50);
        border: 1px solid var(--color-bordes);
        border-radius: 1rem;
        padding: .5rem;
        margin: 0.5rem 0;
      }
      label{
        color: var(--color-bordes);
        display: block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease;
      }
    }
  }
  .content-btns {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    border-top: 1px solid var(--color-bordes);
  }
}

/* select */
.form .body-form .content-input select:has(option[value=""]:checked) {
  color: var(--color-bordes);
  border-color: var(--color-bordes);
}

/* date */
.form .body-form .content-input input[type="date"]:invalid {
  color: var(--color-bordes);
  border-color: var(--color-bordes);

  & + label {
    color: var(--color-bordes);
    top: 50%;
    padding: 0;
    
  }
}