.form {
  .container-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.75rem;

    .content-input {
      position: relative;
      input{
        width: 100%;
        padding: 0.75rem;
        border: 1px solid var(--color-bordes);
        border-radius: 9999px;
        outline: none;

        &:focus, &:not(:placeholder-shown) {
          border-color: var(--color-primary);
          & + label {
            top: 0;
            padding: 0 0.5rem;
            color: var(--color-primary);
            background-color: var(--color-neutral-900);
          }
        }
      }
      label{
        color: var(--color-bordes);
        display: block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease;
      }
    }
  }
  .content-btns {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    border-top: 1px solid var(--color-bordes);
  }
}