---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Instruments from "@/sections/Instruments.astro";
---

<Layout>
	<Header />
	<main class="grid grid-cols-[1fr_2fr] gap-4">
		<Instruments />
		<section>Operaciones</section>
	</main>
</Layout>
