---
import "../styles/global.css";
import ModalInstruments from "@/components/ModalInstruments.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="bg-neutral-950 text-neutral-50 p-4 px-8 relative">
		<ModalInstruments />
		<slot />
	</body>
</html>
